body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

header {
	background-color: #333;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	height: 50px;
	width: 300px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

.header-info a {
	color: white;
	text-decoration: none;
	margin-left: 20px;
}

.welcome-section {
	display: flex;
	width: 50%;
}

.heading {
	font: 3rem "Fira Sans";
	margin-bottom: 1.5rem;
}

.subheading {
	font: 2rem "Fira Sans";
	margin-bottom: 1.5rem;
}

.description {
	font: 1rem "Fira Sans";
	margin-bottom: 1.5rem;

}

.image {
	
	width: 120px;
	height: 600px;

	margin-right: 20px;
}

.chatbot {
	background-color: #ddd;
	padding: 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer-info {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.footer-info p {
	margin-right: 10px;
}